<div class="container">
    <div class="row">
        
        <div id="leftDiv"class="col-md-4 col-sm-4 col-xs-12 divOne" >
            <h3>Stuff</h3>
        </div>
        
        <div id="midDiv"class="col-md-4 col-sm-4 col-xs-12 divOne" >
            <h3>Pawns</h3>
            <table id="pawnTable" class="table table-responsive fancy-list">
               
            </table>
        </div>
        
        <div id="rightDiv"class="col-md-4 col-sm-4 col-xs-12 divOne"  >
            <h3>Ranks</h3>
            <table id="rankTable" class="table table-responsive fancy-list"></table>
            @*<ul id="rankList" class="fancy-list"></ul>*@
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/TestPageScript.js"></script>